<h1>There is nothing much to see here.</h1>

<p>You can <strong>POST</strong> new content here via the <a href="<%= url("/submit") %>">API end point</a>.</p>

<p>If a file was pushed here, you should have a link to it, and that link will ask you for your username and password.</p>