<html>
  <head>
    <title>Cryptolocker</title>
    <style>
      body{
        font-family: sans-serif;
      }
      a#logo {
        position: absolute;
        top: 10px;
        left: 10px;
      }
      form label {
        display: block;
      }
      form label input{
        display: block;
      }
      section#main {
        width: 400px;
        margin: 10px 10px 50px 320px;
        background: #fff;
      }
      .error {
        color: #a00;
      }
    </style>
  </head>
  <body>
    <a id="logo" href="<%= url("/") %>"><img src="<%= url("/logo.png") %>" width="300" height="300"/></a>

    <section id="main">
      <%= yield %>
    </selected>
  </body>
</html>