<html>
  <head>
    <title>Cryptolocker</title>
    <style>
      body{
        font-family: sans-serif;
        background: url(<%= url("/logo.png") %>) no-repeat 10px 10px;
      }
      form label {
        display: block;
      }
      form label input{
        display: block;
      }
      section#main {
        width: 400px;
        margin: 10px 10px 50px 320px;
        background: #fff;
      }
    </style>
  </head>
  <body>
    <section id="main">
      <%= yield %>
    </selected>
  </body>
</html>